{
    "openapi": "3.0.3",
    "info": {
        "description": "This is mirepo's authorIDy instance",
        "version": "v1.0",
        "title": "mirepo authorIDy",
        "termsOfService": "https://mirepo.org/terms-of-service/",
        "contact": {
            "email": "admin@mirepo.org"
        },
        "license": {
            "name": "AGPL v3",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        }
    },
    "servers": [
        {
            "url": "https://mirepo.org/authorIDy",
            "description": "The production authorIDy server"
        }
    ],
    "paths": {
        "/*/{contributorID}": {
            "get": {
                "description": "Retrieve all contributions for a specified contributor identifier.",
                "parameters": [
                    {
                        "name": "contributorID",
                        "in": "path",
                        "description": "The HTTP identifier of a contributor",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "style": "simple"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json":
                            {
                              "schema":
                               {
                               "$ref": "https://signposting.org/authorIDy/authorIDy_schema.json"
                               }
                            }
                         }
                },
                    "404": {
                        "description": "Unknown contributor identifier"
                    }
                }
            }
        },
        "/{sinceDate}/{contributorID}": {
            "get": {
                "description": "Retrieve contributions since and including an accession date (yyyymmdd) for a specified contributor identifier.",
                "parameters": [
                    {
                        "name": "contributorID",
                        "in": "path",
                        "description": "The HTTP identifier of a contributor",
                        "required": true,
                    "schema": {
                            "type": "string",
                            "style": "simple"
                        }
                    },
                    {
                        "name": "sinceDate",
                        "in": "path",
                        "description": "The accession date in yyyymmdd format",
                        "required": true,
                    "schema": {
                            "type": "string",
                            "style": "simple"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json":
                            {
                              "schema":
                               {
                               "$ref": "https://signposting.org/authorIDy/authorIDy_schema.json"
                               }
                            }
                         }
                },
                    "404": {
                        "description": "Unknown contributor identifier"
                    },
                    "400": {
                        "description": "Date in yyyymmdd format required."
                    }
                }
            }
        }
    }
}
